
@{
    ViewData["Title"] = "AccessDenied";
}

<h2 class="text-danger">Yetkisiz Erişim</h2>
<p>Bu sayfayı görmeye yetkiniz yoktur.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>


