@{
    ViewData["Title"] = "Dashboard";
}
@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<h2>Dashboard</h2>
<p>Bu sayfa herkes için ortak, ama menü içerikleri kullanıcının rolüne göre değişiyor.</p>
