@model MenuProject.Models.Course

@{
    ViewData["Title"] = "Yeni Ders Ekle";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">@ViewData["Title"]</h2>

            <form asp-action="AddCourse" method="post">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label asp-for="ImageUrl" class="form-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MinBirthYear" class="form-label"></label>
                    <input asp-for="MinBirthYear" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="MaxBirthYear" class="form-label"></label>
                    <input asp-for="MaxBirthYear" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="StartDate" class="form-label"></label>
                    <input asp-for="StartDate" type="date" class="form-control" />
                </div>

            

                <div class="mb-3">
                    <label asp-for="TeacherName" class="form-label"></label>
                    <input asp-for="TeacherName" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success">Dersi Kaydet</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
