@using MenuProject.ViewModels
@model StudentInfoViewModel


<div style="margin-left: 260px; margin-top: 30px;">
<h3>Öğrenci Oturum Bilgileri</h3>
<form asp-action="Info" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="BirthDate" class="form-label"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <button type="submit" class="btn btn-primary">Bilgileri Kaydet</button>
</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

